n8n Http request.json
{
  "name": "n8n Http request",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "effa3b5b-a1c3-43e0-8898-52758f1fc8cc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OVcEUeb7Lyl5yIk5IYmwgTal_mu_6iGRu271_AFF6hA",
          "mode": "list",
          "cachedResultName": "n8n demo workbook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OVcEUeb7Lyl5yIk5IYmwgTal_mu_6iGRu271_AFF6hA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "linkedin content tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OVcEUeb7Lyl5yIk5IYmwgTal_mu_6iGRu271_AFF6hA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "To Do"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "d2f1fb3c-9ad1-4791-8920-0acc6e5525ec",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p3qvWFV1AI0nfSrn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"What are the latest updates on{{ $json['Rough topic name'] }}\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"topic\": \"general\",\n  \"time_range\": null,\n  \"start_date\": \"2026-01-01\",\n  \"end_date\": \"{{$now.format('yyyy-MM-dd')}}\",\n  \"include_answer\": false,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null,\n  \"auto_parameters\": false,\n  \"include_usage\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "4fce80f8-9494-43e4-9d2d-a2e7b8cc0d8c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        496,
        208
      ],
      "id": "d5d0a53b-05f3-4b04-b62a-61bc6f5d84e3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5mD8euVeR8OnJ70H",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic for linkedin post:{{ $('Get row(s) in sheet').item.json['Rough topic name'] }}\n\nReference titles and articles\n\nTitle 1:{{ $json.results[0].title }}\nArticle 1:{{ $json.results[0].content }}\nUrl 1:{{ $json.results[0].url }}\n\nTitle 2:{{ $json.results[1].title }}\nArticle 2:{{ $json.results[1].content }}\nUrl 2:{{ $json.results[1].url }}\n\nTitle 3:{{ $json.results[2].title }}\nArticle 3:{{ $json.results[2].content }}\nUrl 3:{{ $json.results[2].url }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Role\nAct like a LinkedIn expert who specializes in generating\nLinkedIn friendly post. You content is engaging for the\naudience and has a tendency to go viral.\n\n# To do\n- You'll get 3 references which will include title of the\narticle, parsed content which is relevant to the topic of post,\nURL from which content is parsed.\n- Using all this information, you have generate a LinkedIn\nfriendly post which will get us engagement so that we can have\nan active profile.\n\n# Output\n- Return the title and the content of the article  in json format as,\nTitle:\nContent:\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        0
      ],
      "id": "31a1a90f-7913-4120-aa91-0c3fcbe9ce49",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1OVcEUeb7Lyl5yIk5IYmwgTal_mu_6iGRu271_AFF6hA",
          "mode": "list",
          "cachedResultName": "n8n demo workbook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OVcEUeb7Lyl5yIk5IYmwgTal_mu_6iGRu271_AFF6hA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "linkedin content tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OVcEUeb7Lyl5yIk5IYmwgTal_mu_6iGRu271_AFF6hA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Rough topic name": "={{ $('Get row(s) in sheet').item.json['Rough topic name'] }}",
            "Status": "=Done",
            "Topic name(for linkedin)": "={{ $('Get row(s) in sheet').item.json['Topic name(for linkedin)'] }}",
            "Article content": "={{ $('Get row(s) in sheet').item.json['Article content'] }}"
          },
          "matchingColumns": [
            "Rough topic name"
          ],
          "schema": [
            {
              "id": "Rough topic name",
              "displayName": "Rough topic name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic name(for linkedin)",
              "displayName": "Topic name(for linkedin)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Article content",
              "displayName": "Article content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        0
      ],
      "id": "52cb68d3-3cc4-4158-9e42-93ae6c764c60",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p3qvWFV1AI0nfSrn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"Title\": {\n      \"type\": \"string\",\n      \"description\": \"The headline/title of the LinkedIn post\"\n    },\n    \"Content\": {\n      \"type\": \"string\",\n      \"description\": \"The full LinkedIn post content including paragraphs and bullet points\"\n    }\n  },\n  \"required\": [\"Title\", \"Content\"],\n  \"additionalProperties\": false\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        848,
        208
      ],
      "id": "bfdc0f43-ccf3-4a26-9243-4959cdd9cb82",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "203b2001-b70c-48c9-a428-638bf39e7783",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4227a75b6d46c5cf41f1d80deeb5cc32215e53da39ca428fb164beaeb5116f85"
  },
  "id": "ljlKR3rljDQS0yIkNFuu6",
  "tags": []
}